* {
    box-sizing: border-box;
}
html{
    font-family: 'Titillium Web', sans-serif;
}
body{
    margin: 0;
    }
    section{
        padding-top:120px;
        padding-bottom: 120px;
    }
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    .divider {
        width: 90px;
        height: 4px;
        background-color: #bdd1df;
        margin: 20px auto;
    } 
    .h1-section-tittle {
        font-size: 40px;
        letter-spacing: 1px;
        color: #f7f3ea;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .section-description {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 26px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    
    .section-item-tittle {
        font-size: 24px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 700;
    }
    
    .section-item-content {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 300;
        margin: 0 auto;
    }
    .btn {
        width: 293px;
        height: 70px;
        border: none;
        border-radius: 6px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
    }
    .child-img {
        width: 100%;
        height: 100%;
      /*   check also other options in object fit*/
        object-fit: contain;
      }
      
   
  /* -----------------------------------------------Styles for header section-------------------------------*/
    .header-section{
        height: 596px;
        background-color: #864f9c;
    }

    .header-holder {
        position: relative;
        height: 30%;
    }

    .header-logo {
        width: 50%;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header-nav {
        width: 50%;
        text-align: right;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 10px;     
    }
      
    .header-nav-item {
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 8px 15px;  
    }
      
      .header-nav-item:hover {
        border-radius: 4px;
        background-color: #633a79;
      }

      .header-welcome-section-holder {
        position: relative;
        height: 70%;
      }

      .header-btn {
        position: absolute;
        left: 0;
        right: 0;
        margin: 50px auto;
        width: 293px;
        height: 70px;
        border: none;
        border-radius: 6px;
        background-color: #eb7d4b;
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
    }

/* --------------------------------------Styles for Services section------------------------*/
.services-section{
    /*height: 580px;*/
    background-color: #17c2a4;
}

.services-section-holder {
    height: 100%;
    text-align: center;
  }
.service-item-block {
    display: inline-block;
    vertical-align: top;
    width: 280px;
  }

.service-item-block .service-item-img {
    margin: 30px auto;
    width: 120px;
    height: 120px;
}
.service-item-block .section-item-content {
    max-width: 200px;
}
.service-item-block-desc {
    padding: 15px;
    text-align: center;
}
/* --------------------------------------END of Styles for services section------------------------*/

/* --------------------------------------Styles for Team section------------------------*/
.team-section {
    background-color: #e7f1f8;
}
.team-section-holder {
    height: 100%;
    text-align: center;
}
.team-section-holder .h1-section-tittle {
    color: #3c4761;
}
.team-section-holder .section-description {
    color: #3c4761;  
}
.team-item-block .section-item-tittle {
    color: #3c4761;  
}
.team-item-block .section-item-content {
    color: #3c4761;  
    max-width: 230px;
}
.team-item-block .section-item-content.position {
    color: #30bae7;  
}
.team-item-block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 500px;
  }

.team-item-block .team-item-img {
    margin: 30px auto;
    width: 120px;
    height: 120px;
}
.team-item-block-desc {
    padding: 15px;
    text-align: center;
}

.social-block {
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    right: 0;
}
.social-block-img {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 5px;
}

/* --------------------------------------END of Styles for Team section------------------------*/

/* --------------------------------------Styles for Skills section------------------------*/
.skills-section {
    background-color: #ffffff;
}
.skills-section-holder {
    height: 100%;
    text-align: center;
}
.skills-section-holder .h1-section-tittle {
    color: #3c4761;
}
.skills-section-holder .section-description {
    color: #3c4761;
}
.skills-item-block {
    display: inline-block;
    width: 280px;
  }
.skills-item-img {
    margin: 30px auto;
    width: 160px;
    height: 160px;
}
.skills-item-block .section-item-tittle {
    color: #3c4761;
}
/* --------------------------------------END of Styles for Skills section------------------------*/


/* --------------------------------------Styles for Portfolio section------------------------*/
.portfolio-section{
    /*height: 1423px;*/
    background-color: #ffdd99;
}
.portfolio-section-holder {
    height: 100%;
    text-align: center;
}
.portfolio-categories-btn-block {
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-categories-btn-block ul {
    padding: 0;
}
.portfolio-categories-btn-block ul>li {
    display: inline-block;
    background-color: #ebc985;
    width: 70px;
    border-radius: 4px;
    padding: 8px 8px;
    margin: 0 5px;
}
.portfolio-categories-btn-block ul>li:hover {
    background-color: #ffffff;
  }
.portfolio-categories-btn-block a{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    font-weight: 400;
    text-decoration: none;
  }

.portfolio-section-holder .h1-section-tittle {
    color: #393939;
}
.portfolio-section-holder .section-description {
    color: #393939;
}
.portfolio-section-holder .section-item-tittle {
    color: #393939;
}
.portfolio-item-block {
    display: inline-block;
    max-width: 560px;
    margin: 0 auto 30px auto;
  }

  .portfolio-item-block .portfolio-item-img {
    margin: 0 auto;
    max-width: 500px;
    max-height: 300px;
  }
  .portfolio-item-block-desc {
    padding: 15px;
    text-align: center;
  }

  .portfolio-section-holder .btn {
    color: #ffffff;
    background-color: #17c2a4;
  }
/* -----------------------------------END of Styles for Portfolio section------------------------*/

/* -----------------------------------Styles for Testimonials section------------------------*/
/* -----------------------------------With using BEM a little bit----------------------------*/

.testimonials-section{
    background-color: #d74680;
}
.testimonials-section-holder{
    height: 100%;
    text-align: center;
}
.testimonials-item-block-holder {
    display: flex;
    flex-wrap: wrap;
}
.testimonials-item-block {
    display: flex; 
    flex-wrap: wrap;
    max-width: 560px;
    margin: 0 auto 30px auto;
}
.testimonials-item-block__img {
    margin: 0 0  30px 0;
    width: 96px;
    height: 96px;
}
.testimonials-item-block__desc {
    max-width: 80%;
    padding: 0 15px 0 15px;
    text-align: left;
    margin: 0;
}
.testimonials-item-block__desc .section-item-content {
    display: block;
    padding-bottom: 15px;
    font-style: italic;
}
.testimonials-item-block__desc .section-item-tittle {
    display: block;
}
.testimonials-item-block__desc .section-item-content.position {
    display: block;
    color: #ffdd99; 
}
/* -----------------------------------END of Styles for Testimonials section------------------------*/


/* --------------------------------------Styles for Getintouch section------------------------*/
.getintouch-section{
    /*height: 700px;*/
    background-color: #3c5499;
}

.getintouch-section-holder {
    height: 100%;
    text-align: center;
  }
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:800px;
    margin: 0 auto;
}

/*--------------- using flex to positionate-----------------*/
.form-input-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .form-item {
    flex-grow: 1;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    background-color: #273a71;
    margin: 20px;
}  

 .form-textarea-item {
    height: 200px;  
}

.form-item.btn {
    font-weight: 600;
    background-color: #30bae7;  
    margin: auto ;
}
/* --------------------------------------END of Styles for Getintouch section------------------------*/


/* --------------------------------------Styles for Footer section-----------------------------------*/
.footer-section{
    height: 112px;
    background-color: #344b8e;
}
.footer-holder {
    position: relative;
    height: inherit;
    text-align: center;
}
.footer-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
}
.footer-nav-item {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
}
.footer-nav-item:hover {
    color: #30bae7;
}
/* --------------------------------------END of Styles for Footer section-----------------------------------*/



/* --------------------Styles for SVG percentage circle with css keyframes animation-----------*/
  /*
  .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  */
  .single-chart {
    width: 80%;
    margin: 40px auto 20px auto;
    /*justify-content: space-around ;*/
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .circular-chart.cyan .circle {
    stroke: #00FFFF ;
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  /* --------------------END of styles for SVG percentage circle with css keyframes animation-----------*/